<div class="login-backdrop">
  <div class="login-middle-align">
    <div class="login-window" ng-cloak>

      <div ng-show="error" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign"
          aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{error}}
      </div>

      <form name="loginForm" autocomplete="off">
        <!--TODO: We really need something prettier here-->
        <h2 class="text-center">ScorchForge</h2>
        <br>
        <md-input-container class="md-block">
          <label>Email Address</label>
          <input ng-model="loginCredentials.email" type="email"
                 name="email" required>
          <div ng-messages="loginForm.email.$error">
            <div ng-message="required">This field is required</div>
            <div ng-message="email">Invalid Email</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password</label>
          <input ng-model="loginCredentials.password"
          type="password" name="password" required>
          <div ng-messages="loginForm.password.$error">
            <div ng-message="required">This field is required.</div>
          </div>
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="login()"
                   ng-disabled="loginForm.$invalid">
          Sign In
        </md-button>
        <md-button class="md-primary pull-right" href="/create_user">
          Create Account
        </md-button>
      </form>

      <div class="text-center">
        <br>
        <br>
        <p><b>ScorchForge is in Alpha.</b></p>
        <p><b>Both accounts and data are cleared out often!</b></p>
      </div>

    </div>
  </div>
</div>
