.annotation-badge {
  background-color: rgb(75, 0, 0);
  color: white;
  position: relative;
  right: 8px;
  top: 1px;
}

.files-plate {
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #3E3E3E;
  border-bottom: 1px solid #1D1D1D;
}

.files-plate .dndDraggingSource {
  display: none;
}

.header-bar {
  height: 38px;
  /*padding-top: 4px;*/
  width: 100%;
  border-bottom: 1px solid #1D1D1D;
}

.md-button.md-fab.md-tiny {
  background-color: transparent;
  box-shadow: none;
  height: 30px;
  line-height: 30px;
  min-height: 30px;
  width: 30px;
}
