<script type="text/ng-template" id="listTemplate">
  <div style="min-height: 20px;">
    <div ng-repeat="item in list"
         ng-init="depth = depth + 1"
         style="padding-left: 18px;"
         ng-include="item.type + 'Template'">
    </div>
  </div>
</script>

<script type="text/ng-template" id="directoryTemplate">
  <div>
    <div class="directory-plate"
         mg-nofocus
         ng-dblclick="item.isExpanded = !item.isExpanded"
         context-menu="directoryDropdown">
      <span class="tone-text-primary-hover glyphicon
               glyphicon-triangle-{{ item.isExpanded ? 'bottom' : 'right' }}"
            style="font-size: 0.8em; margin-right:2px;"
            aria-hidden="true"
            ng-click="item.isExpanded = !item.isExpanded">
      </span>
      <span class="glyphicon
                   glyphicon-folder-{{ item.isExpanded ? 'open' : 'close' }}"
            style="font-size: 0.8em; margin-right:1px;"
            aria-hidden="true">
      </span>
      {{ item.name }}
    </div>
    <span ng-if="item.isExpanded && item.children"
      <div ng-repeat="list in [item.children]"
           ng-include="'listTemplate'">
      </div>
    </span>
  </div>
</script>

<script type="text/ng-template" id="fileTemplate">
  <div class="file-plate{{ item.dsData ?
                           '-active bg-highlight-darkblue' : '' }}"
        ng-dblclick="data.activeFileTree.openFile(item.path)"
        style="{{ item.dsData ?
                  'margin-left: -' + ((depth * 18) + 10) + 'px;
                  padding-left: ' + ((depth * 18) + 10) + 'px;
                  padding-right: 10px; margin-right: -10px;' : '' }}"
        context-menu="fileDropdown">
    <span class="glyphicon glyphicon-file" style="font-size: 0.8em;
      margin-right:2px;" aria-hidden="true">
    </span>
    {{ item.name }}
    <span class="badge pull-right annotation-badge"
          ng-show="errorCount(item)">
      {{ errorCount(item) }}
    </span>
  </div>
</script>

<div class="fill tone-cplate-in tone-text-primary"
     context-menu="activeProjectDropdown">
  <!--Active Project-->
  <div ng-show="data.activeProject" class="noselect">
    <div class="header-bar">
      <md-toolbar style="background-color: transparent; height: 38px;
                         min-height: 38px; margin: 0px;">
        <div class="md-toolbar-tools"
             style="background-color: transparent; height: 38px;
                    min-height: 38px; margin: 0px;">
          <md-button class="md-fab md-tiny md-primary"
                     aria-label="Download Snapshot"
                     ng-click="downloadSnapshot()">
            <md-tooltip md-direction="right">
              Download Snapshot
            </md-tooltip>
            <span class="glyphicon glyphicon-download-alt"></span>
          </md-button>
          <md-button class="md-fab md-tiny md-primary"
                     aria-label="Get Share Id"
                     ng-click="displayShareId()">
            <md-tooltip md-direction="right">
              Get Share Id
            </md-tooltip>
            <span class="glyphicon glyphicon-link"></span>
          </md-button>
        </div>
      </md-toolbar>
    </div>

    <div class="files-plate tone-cplate-out">
      <!--Remember that the listTemplate takes in a list-->
      <div ng-repeat="list in [data.activeFileTree.treeLayout]"
        ng-include="'listTemplate'"
        ng-init="depth = 0">
      </div>
      <div ng-show="!data.activeFileTree.treeLayout.length"
        class="fill noselect"
        style="display: table; text-align: center;">
        <div class="tone-text-secondary"
          style="display:table-cell; vertical-align:middle;">
          No Files
        </div>
      </div>
    </div>
  </div>

  <!--No Active Project-->
  <div ng-show="!data.activeProject" class="fill noselect"
    style="display: table; text-align: center;">
    <div class="tone-text-secondary"
      style="display:table-cell; vertical-align:middle;">
      No Project Selected
    </div>
  </div>

</div>
