<div ng-cloak="">
  <md-toolbar class="md-menu-toolbar" style="min-height: 25px;">
    <md-menu-bar>

      <img src="assets/flame-512-inverse.png" height="24" width="24"
           style="vertical-align: middle;">

      <!--Forge-->
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          <b>Forge</b>
        </button>
        <md-menu-content>
          <md-menu-item>
            <md-button ng-click="addProjectFromModal()">
              New Project
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button ng-click="logout()">
              Logout
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

      <!--Workspace-->
      <md-menu style="margin-left: 14px;">
        <button ng-click="$mdOpenMenu()"
          class="{{ !data.activeWorkspace ?
                    'bg-highlight-darkblue-grad' : '' }}">
          Workspace -
          <b>
            {{ data.activeWorkspace ?
               '' + data.activeWorkspace.name : 'None Selected' }}
          </b>
          <span class="glyphicon glyphicon-triangle-bottom"
            style="position:relative; top: -1px; left: 6px; font-size: 0.7em;"
            aria-hidden="true"></span>
        </button>

        <md-menu-content>

          <md-menu-item ng-repeat="workspace in data.workspaces"
          class="{{ workspace === data.activeWorkspace ?
                    'bg-highlight-darkblue-grad' : '' }}">
            <md-button ng-click="activateWorkspace(workspace)"
                       ng-disabled="data.activeWorkspace === workspace">
              {{ workspace.name }}
            </md-button>
          </md-menu-item>

          <md-menu-divider></md-menu-divider>

          <md-menu-item>
            <md-button ng-click="addWorkspaceFromModal()">
              Create New Workspace
            </md-button>
          </md-menu-item>

        </md-menu-content>
      </md-menu>

      <span class="glyphicon glyphicon-menu-right" area-hidden="true"
            style="position: relative; top: 4px; font-size: 0.8em;
                   margin-left: 3px; margin-right: 3px;"></span>

      <!--Project-->
      <md-menu>
        <button ng-click="$mdOpenMenu()"
          class="{{ data.activeWorkspace && !data.activeProject ?
                    'bg-highlight-darkblue-grad' : '' }}"
          ng-disabled="!data.activeWorkspace">
          Project -
          <b>
            {{ data.activeProject ?
               '' + data.activeProject.name : 'None Selected' }}
          </b>
          <span class="glyphicon glyphicon-triangle-bottom"
            style="position:relative; top: -1px; left: 6px; font-size: 0.7em;"
            aria-hidden="true"></span>
        </button>
        <md-menu-content>

          <md-menu-item ng-repeat="project in data.projects"
          class="{{ project === data.activeProject ?
                    'bg-highlight-darkblue-grad' : '' }}">
            <md-button ng-click="activateProject(project)"
                       ng-disabled="data.activeProject === project">
              {{ project.name }}
            </md-button>
          </md-menu-item>

          <md-menu-divider></md-menu-divider>

          <md-menu-item>
            <md-button ng-click="addProjectFromModal()">
              Create New Project
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="addSharedProjectFromModal()">
              Add Shared Project
            </md-button>
          </md-menu-item>

        </md-menu-content>
      </md-menu>

      <!--Run Controls-->
      <md-menu class="pull-right">
        <button ng-click="run()">
          <span class="icon-play"
                style="font-size: 1.6em; position:relative; top: 2px">
          </span>
        </button>
        <md-menu-content></md-menu-content>
      </md-menu>

    </md-menu-bar>
  </md-toolbar>
</div>
