.icon-bar-item {
  margin: 2px;
  height: 24px;
  text-align: center;
  line-height: 24px;
}

.btn-play {
  width: 40px;
  font-size: 1.4em;
  line-height: 0px;
  color: lightgrey;
}

.btn-play.active {
  background-color: rgba(17, 108, 214, 1);
  border: 1px solid rgb(2, 119, 255);
  color: white;
}

.btn-play:hover {
  background-color: rgba(48, 48, 48, 1);
  border: 1px solid grey;
  color: white;
}

.btn-play.active:hover {
  background-color: rgb(22, 130, 255);
  border: 1px solid white;
  color: white;
}
