md-menu-bar.md-default-theme md-menu.md-open > button,
md-menu-bar md-menu.md-open > button,
md-menu-bar.md-default-theme md-menu > button:focus,
md-menu-bar md-menu > button:focus {
  outline: none;
  background: rgb(238, 238, 238);
  color: black;
}

md-menu-bar button {
  background-color: rgba(48, 48, 48, 1);
  height: 25px;
  color: rgb(240, 240, 240);
}

md-toolbar.md-default-theme.md-menu-toolbar,
md-toolbar.md-menu-toolbar {
  background-color: rgba(48, 48, 48, 1);
  box-shadow: inset -1px -1px 0px 0px rgba(25, 25, 25, 1);
  color: rgba(255, 255, 255, 1.0);
}

md-menu-content.md-default-theme,
md-menu-content {
  background-color: rgba(32, 32, 32, 1);
}

md-menu-content.md-menu-bar-menu.md-dense .md-button span {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: rgb(240, 240, 240);
}

md-menu-content.md-dense md-menu-item {
  height: 25px !important;
}

md-menu-content.md-menu-bar-menu.md-dense .md-button {
  height: 25px !important;
}

.md-button {
  line-height: 25px !important;
}
