<div ng-cloak="">
  <md-toolbar class="md-menu-toolbar" style="min-height: 25px;">
    <md-menu-bar>

      <!--Forge-->
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          Forge
        </button>
        <md-menu-content>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button ng-click="logout()">
              Logout
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

      <!--File-->
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          File
        </button>
        <md-menu-content>
        </md-menu-content>
      </md-menu>

      <!--Edit-->
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          Edit
        </button>
        <md-menu-content>
        </md-menu-content>
      </md-menu>

      <!--Project-->
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          Project
        </button>
        <md-menu-content>
        </md-menu-content>
      </md-menu>

      <!--Window-->
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          Window
        </button>
        <md-menu-content>
        </md-menu-content>
      </md-menu>

    </md-menu-bar>
  </md-toolbar>
</div>
