<div id="topbar" class="topbar">
  <div class="at-navbar" at-navbar></div>
</div>

<div id="my_dock_manager" class="my-dock-manager"></div>

<div id="projectWindow" caption="Files" icon="icon-folder-open">
  <div class="fill" at-sidebar>
</div>
<div id="settingsWindow" caption="Settings" icon="icon-gears">
  <div class="fill" at-settings>
</div>
<div id="contextToolbar" caption="Toolbox" icon="icon-suitcase">
  <div class="fill" at-context-toolbar>
</div>
<div id="outputWindow" caption="Terminal" icon="icon-terminal">
  <div class="fill" at-tty></div>
</div>
<div id="demoWindow" caption="Three.js" icon="icon-terminal">
  <div class="fill" at-three-visualizer></div>
</div>
